.container {
  background-color: blue;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}
.box11 {
  background-color: black;
}

.box {
  background-color: aqua;
  width: 500px;
  height: 250px;
}
.box1 {
  background-color: crimson;
  width: 250px;
  height: 250px;
  position: absolute;
  top: 0.2%;
  left: 69.1%;
}
.box2 {
  background-color: rgb(128, 38, 120);
  width: 280px;
  height: 250px;
  position: absolute;
  top: 40%;
}
.box3 {
  background-color: rgb(47, 100, 107);
  width: 470px;
  height: 120px;
  position: absolute;
  top: 39.7%;
  left: 53%;
}
.box4 {
  background-color: darkolivegreen;
  width: 470px;
  height: 118px;
  position: absolute;
  top: 59.6%;
  left: 53%;
}
